---
name: Build

on:
  push:
    branches: ['**']

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      REGISTRY: ghcr.io/${{ github.repository_owner }}
      IMAGE_NAME: gitlab-redmine-webhook

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build
        id: build-iamge
        users: redhat-actions/buildah-build@v2
        with:
          image: ${{ env.IMAGE_NAME }}
          tags: latest ${{ github.sha }}
          containerfiles: |
            ./Containerfile
